#Data frame operations
#Dataframe operations in pandas cover a wide range of functionalities for data manipulation and analysis.

In [13]:
#value_counts(): Counting the occurrences of unique values in a column
import pandas as pd
data={'A':[1,2,3,4,5],'B':[5,4,3,2,1],'C':['Apple','Banana','Apple','orange','Banana']}
df=pd.DataFrame(data)
value_counts=df['C'].value_counts()
print(value_counts)

C
Apple     2
Banana    2
orange    1
Name: count, dtype: int64

In [9]:
#apply(): Applying a function along the axis of the DataFrame
import pandas as pd
data={'Number':[1,2,3,4,5]}
df=pd.DataFrame(data)
def string_to_int(x):
    return int(x)
df['Number']=df['Number'].apply(string_to_int)
print(df['Number'])

0    1
1    2
2    3
3    4
4    5
Name: Number, dtype: int64

In [11]:
#unique(): Getting unique values in a column
import pandas as pd
data = {'Name': ['Akshay', 'Aakash', 'Aniruddha', 'Akshay', 'Pratik', 'Akshay']}
df = pd.DataFrame(data)
unique_values = df['Name'].unique()
print("Unique values in 'Name' column:")
print(unique_values)

Unique values in 'Name' column:
['Akshay' 'Aakash' 'Aniruddha' 'Pratik']

In [15]:
#nunique(): Counting the number of unique values in a column
import pandas as pd
data = {'Name': ['Akshay', 'Aakash', 'Aniruddha', 'Akshay', 'Pratik', 'Akshay']}
df = pd.DataFrame(data)
unique_values = df['Name'].nunique()
print("Unique values in 'Name' column:")
print(unique_values)

Unique values in 'Name' column:
4

In [17]:
#describe(): Generating descriptive statistics of the DataFrame
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
description = df.describe()
print("Descriptive statistics of the DataFrame:")
print(description)

Descriptive statistics of the DataFrame:
              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

In [25]:
#Sorting():sort dataframe based on one or more column.
import pandas as pd
data={'student':['Ajay','Akash','Aniruddha','Akshay','Pratik'],'maths':[80,90,95,75,70],'phy':[90,75,85,80,95],'chem':[80,75,70,65,60]}
df=pd.DataFrame(data)
sorted_df=df.sort_values(by='maths',ascending=True)
print(sorted_df)

     student  maths  phy  chem
4     Pratik     70   95    60
3     Akshay     75   80    65
0       Ajay     80   90    80
1      Akash     90   75    75
2  Aniruddha     95   85    70

In [31]:
#Rank(): indicating rank
import pandas as pd
data={'student':['Ajay','Akash','Aniruddha','Akshay','Pratik'],'score':[80,90,95,75,70]}
df=pd.DataFrame(data)
rank_df=df['score'].rank(ascending=False)
print(rank_df)

0    3.0
1    2.0
2    1.0
3    4.0
4    5.0
Name: score, dtype: float64