In [11]:
# DataFrame row,column selection:
#Example
import pandas as pd
data={'Name':['A', 'B', 'C', 'D', 'E'],'Age':[25,30,35,40,45],'Gender':['F', 'M', 'M', 'M','F']}
df=pd.DataFrame(data)

# selecting a single column
name_column = df['Name']
print(name_column)

#selecting multiple column
subset = df[['Name','Age']]
print(subset)

# selecting row based on condition
subset_age_35plus = df[df['Age']>35]
print(subset_age_35plus)

# selecting row and column using iloc (index based selection)
subset_iloc = df.iloc[1:3,0:2]  # Rows 1 and 2, column 0 and 1
print(subset_iloc)

# selecting row and column using loc (label based selection)
subset_loc = df.loc[1:3, ['Name','Age']]  # Rows 1 to 3, column 'Name' and 'Age'
print(subset_loc)

0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object
  Name  Age
0    A   25
1    B   30
2    C   35
3    D   40
4    E   45
  Name  Age Gender
3    D   40      M
4    E   45      F
  Name  Age
1    B   30
2    C   35
  Name  Age
1    B   30
2    C   35
3    D   40

In [15]:
# Conditional selection :
#Example
import pandas as pd
data={'Name':['A', 'B', 'C', 'D', 'E'],'Age':[25,30,35,40,45],'Gender':['F', 'M', 'M', 'M','F'],'City':['P', 'Q', 'R', 'S', 'U']}
df=pd.DataFrame(data)

# Filter row where age is greater than 35
a = df[df['Age'] >35]
print(a)

# Filter row where gender is male
b = df[df['Gender']== 'M']
print(b)

  Name  Age Gender City
3    D   40      M    S
4    E   45      F    U
  Name  Age Gender City
1    B   30      M    Q
2    C   35      M    R
3    D   40      M    S

In [17]:
#Query(): select row using query
import pandas as pd
data={'Name':['A', 'B', 'C', 'D', 'E'],'Age':[25,30,35,40,45],'Gender':['F', 'M', 'M', 'M','F'],'City':['P', 'Q', 'R', 'S', 'U']}
df=pd.DataFrame(data)
subset = df.query('Age>30')
print(subset)

  Name  Age Gender City
2    C   35      M    R
3    D   40      M    S
4    E   45      F    U

In [23]:
#Adding, Deleting, and Updating Columns
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

# Adding a new column
df['C'] = [11, 12, 13, 14, 15]
print("DataFrame after adding column 'C':")
print(df)

# Deleting a column
del df['B']
print("\nDataFrame after deleting column 'B':")
print(df)

# Updating a column
df['A'] = df['A'] * 2
print("\nDataFrame after updating column 'A' by multiplying by 2:")
print(df)

DataFrame after adding column 'C':
   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

DataFrame after deleting column 'B':
   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

DataFrame after updating column 'A' by multiplying by 2:
    A   C
0   2  11
1   4  12
2   6  13
3   8  14
4  10  15

In [25]:
#Setting Index: to set a column as the index of the dataframe,use the set_index() function.
import pandas as pd
data = {'Name': ['Ajay', 'Dipak', 'Pratik'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df.set_index('Name', inplace=True)
print("DataFrame with 'Name' as index:")
print(df)

DataFrame with 'Name' as index:
        Age
Name
Ajay     25
Dipak    30
Pratik   35

In [27]:
# Removing Index : To remove the index and reset it to the default integer index used reset_index() function
#Example
import pandas as pd
data = {'A' : [1, 2, 3, 4], 'B' : ['a', 'b', 'c', 'd'] }
df=pd.DataFrame(data)
df.reset_index(inplace=True)
print(df)

   index  A  B
0      0  1  a
1      1  2  b
2      2  3  c
3      3  4  d

In [29]:
#Example
import pandas as pd
data = {'A' : [1, 2, 3, 4], 'B' : ['a', 'b', 'c', 'd'] }
df=pd.DataFrame(data)
df.reset_index(drop=True,inplace=True)
print(df)

   A  B
0  1  a
1  2  b
2  3  c
3  4  d

In [31]:
# Operation:
# Addition using the add() method:
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
a=df1+df2
print(a)
b=df1.add(df2) # Alternative method
print(b)

    A   B
0   8  14
1  10  16
2  12  18
    A   B
0   8  14
1  10  16
2  12  18

In [33]:
# Subtraction using the sub() method:
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
c=df1-df2
print(c)
d=df1.sub(df2) # Alternative method
print(d)

   A  B
0 -6 -6
1 -6 -6
2 -6 -6
   A  B
0 -6 -6
1 -6 -6
2 -6 -6

In [35]:
# Multiplication using the mul() method:
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
e=df1*df2
print(e)
f=df1.mul(df2) # Alternative method
print(e)

    A   B
0   7  40
1  16  55
2  27  72
    A   B
0   7  40
1  16  55
2  27  72

In [37]:
# Division using the div() method
import pandas as pd 
df1 = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9],'B': [10, 11, 12]})
m=df1/df2
print(m)
n=df1.div(df2) # Alternative method
print(n)

          A         B
0  0.142857  0.400000
1  0.250000  0.454545
2  0.333333  0.500000
          A         B
0  0.142857  0.400000
1  0.250000  0.454545
2  0.333333  0.500000